modules = ["nodejs-20", "php-8.2", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41763804
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "vite --host 0.0.0.0 --port 5000 --force"
